* {
  display: block;
  font-family: "Orbitron", sans-serif;
  font-family: "Press Start 2P", cursive;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  background: url('../img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: 0; /* removing space around header */
}

form {
  background-color: rgb(173, 173, 173);
  width: auto;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0px;
  padding-bottom: 0px;
  border: 2px solid rgb(200, 200, 200);
}

.fields {
  margin: auto;  
}

form * {
  margin: 0px;
  padding: 5px;
}

input {
  width: 100%;
  margin: 2px 0 6px 0;
  padding-left: 4px;
  margin: 0px;
}

a {
  color: red;
  margin-top: 15px;
  font-size: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 6px;
  text-align: center;
}

#send {
  background-color: rgb(170, 170, 170);
  margin-top: 20px;
}

head * {
  display: none;
  margin: 0;
  padding: 0;
}

.default-button {
  background-color: rgb(170, 170, 170);
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  align-content: center;
}

.normal-button {
  background-color: rgb(170, 170, 170);
  margin-bottom: 2px;
  border-top: 2px solid rgb(200, 200, 200);
  border-left: 2px solid rgb(200, 200, 200);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  align-content: center;
}

.disabled-button {
  /* inherited from a normal-button class  *
   * class="disabled-button normal-button" */
  color: gray;
}

.remember-wrapper {
  display: flex;
  justify-content: center;
}

.remember-wrapper input {
  width: initial;
  margin-left: 16px;
}

.header {
  background-color: blue;
  padding: 6px;
  text-align: center;
}