.card {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: rgb(160, 160, 160);
    width: auto;
    border: 2px solid rgb(170, 170, 170);
}

.card-heading {
    margin-top: 0;
    text-align: center;
    background-color: rgb(0, 0, 150);
}

.card-style {
    text-align: center;
}

.card-buttons {
    display: flex;
    justify-content: space-around;
}

.date {
    text-align: center;
    margin-bottom: 10px;
}

form {
    text-align: center;
    position: fixed;
    top: 35%;
    left: 41%;   
} 

.send {
    background-color: rgb(173, 173, 173);
    margin-top: 20px;
}

.submit-button{
    padding: 5px 0;
    margin: 0px;
}

.aligner {
  display: flex;
  width: 90%;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.status-on {
    color: green;
}

.status-off {
    color: red;
}

#hid {
    display: none;
}

.header {
    background-color: blue;
    padding: 6px;
    text-align: center;
    margin: 0;
}

#showForm {
    position: fixed;
    bottom: 1cm;
    right: 1cm;
    cursor: url('../img/cursor.cur'), auto; 
}

#mover {
    margin: 0;
    padding: 0;
}

.close {
    height: 11px;
    width: 11px;
    position: absolute;
    top: 2px;
    right: 2px;
    border-top: 1.5px solid rgb(200, 200, 200);
    border-left: 1.5px solid rgb(200, 200, 200);
    border-bottom: 1.5px solid black;
    border-right: 1.5px solid black;
    background: url('../img/close.svg');
    background-repeat: no-repeat;
    background-size: 90%; 
    background-color: rgb(200, 200, 200);
    background-position-x: center;
    background-position-y: center;
    cursor: url('../img/cursor.cur'), auto; 
}

.log_out {
    height: 20px;
    width: 20px;
    top: 3px; 
}

.a_log_out {
    width: 10px;
    height: 10px;
    margin: 0;
    cursor: url('../img/cursor.cur'), auto;   
}

.a_log_out:hover::after { 
    content: attr(data-title);
    position: absolute;
    right: 1px;
    top: 22px;
    display: block;
    background-color: rgb(173, 173, 173);
    padding: 2px;
    width: 70px;
    font-size: 10px;
    color: black;
}