* {
  /*border: 1px solid;*/
  display: block;
  font-family: "Orbitron", sans-serif;
  font-family: "Press Start 2P", cursive;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  background: url('img/background.jpg');
  background-size: 100%;
  background-repeat: repeat-y;
}

form {
  background-color: rgb(173, 173, 173);
  width: auto;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0px;
  padding-bottom: 0px;
  border: 3px solid black;
  /*border-radius: 10%;*/
}

.fields {
  margin: auto;
  
}

#id {
  padding: 2px;
}

form * {
  margin: 0px;
  padding: 5px;
}

input {
  width: 100%;
  margin: 2px 0 6px 0;
  padding-left: 4px;
  margin: 0px;
}


h2, a {
  padding: 6px;
  text-align: center;
}

a {
  color: red;
  margin-top: 15px;
  font-size: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

#send {
  background-color: rgb(170, 170, 170);
  margin-top: 20px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: blue;
}

title, script {
  display: none;
}

.default-button {
  background-color: rgb(170, 170, 170);
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  align-content: center;
}

.normal-button {
  background-color: rgb(170, 170, 170);
  margin-bottom: 2px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  align-content: center;
}

.disabled-button {
  /* inherited from a normal-button class  *
   * class="disabled-button normal-button" */
  color: gray;
}

.remember-wrapper {
  display: flex;
  justify-content: center;
}

.remember-wrapper input {
  width: initial;
  margin-left: 16px;
}