<head>
    <title>SynthWeb</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename = "css/error.css") }}>
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
</head>
<body>
    <div class='headline'>
        <h1><a href={{url_for('index')}}>SynthWeb</a></h1>
    </div>
    <div class='description'>
        <p>{{ error }}</p>
    </div>
</body>