<head>
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename = "style.css") }}>
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">


</head>
<body>
    {% if error == 'already_exists' %}
    <p>Sorry, seems like this account is already exists</p>
    {% endif %}

    <form method="POST">
        <h2>Sign Up!</h2>
        <div class="fields">
            <label>E-mail</label>
            <input type="email" placeholder="enter email" name="email" required>
            <label>Name</label>
            <input type="text" placeholder="5+ symbols" name="name" required>
            <label>Password</label>
            <input type="password" placeholder="6+ symbols" name="pw" required>
            <label>Password</label>
            <input type="password" placeholder="enter password" name="pw_check" required>
            <input type="submit" value="Send" id="send">
        </div>
        <a href={{ url_for('login_user') }}>Already have account</a>
    </form>

</body>