<head>
    <title>SynthWeb - LogIn</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename = "css/style.css") }}>
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
</head>
<body>
<form method="POST">
    <h2>Log In</h2>
    <div class="fields">
    <div>
        <label>E-mail</label>
        <input type="email" name="email" required>
    </div>
    
    <div>
        <label>Password</label>
        <input type="password" name="pw" required>  
    </div>
    
    <div class="remember-wrapper">
        <label>Remember Me</label>
        <input type="checkbox" name="remember">
    </div>

    <div>
        <input type="submit" class="default-button send submit-button" value="Send">
    </div>
    <a href={{ url_for('index') }}>Sign Up</a>
</div>
</form>
</body>
