<head>
    <title>SynthWeb - {{ name }}</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename = "css/style.css") }}>
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename = "css/user.css") }}>
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
</head>
<body> 
{% if name != session['user'] %}
<p>Account name doesn't match to your cookie. Please Log In again</p>
<a href={{ url_for('login_user') }}>Log In</a>

{% else %}  
<p class='header margin'>Hello, {{ name }}!   
        <div class='close log_out'>  
            <a href={{ url_for('logout') }} class='a_log_out' data-title='Log Out'></a>   
        </div>
</p>
<div class='aligner'>
{% for task in tasks %}
<div class="fields" id={{ 'card_' + loop.index|string }}>
    <div class="card">
        <div class="card-img"></div>
        <p class="card-heading">{{ task[2] }}</p>
        {% if task[3] %}
        <p class="card-style card-content">"{{ task[3] }}"</p>
        {% endif %}
        <p class="card-style card-start-date">Created on: {{ task[4] }}</p>
        {% if task[5] %}
        <p class="card-style card-end-date">Deadline: {{ task[5] }}</p>
        {% else %}
        <p class="card-style">&nbsp;</p>
        {% endif %}
        {% if task[6] == 1 %}
        <p class="card-style status status-on">Complete!</p>
        {% elif task[6] == 0 %}
        <p class="card-style status status-off">Incomplete</p>
        {% endif %}
        <!-- <progress value="0" max="100" class="aligner" id="progressbar"></progress> -->
        <div class="card-buttons">
            <button class="normal-button card-buttons card-style send" 
            onclick=change_status(event)>Change status</button>
            <button class="disabled-button normal-button card-buttons card-style send">Edit</button>
            <button class="normal-button card-buttons card-style send"
            onclick=delete_task(event)>Delete</button>
        </div>
    </div>
</div>
{% endfor %}
</div>
<a class='normal-button' id='showForm' onclick=showForm()>Add New Task</a>
<form method="POST" id='hid'>
    <div id='mover'>       
        <p class='header'>New Task<div class='close' onclick=showForm()></div></p>
    </div>    
    <div class='fields'>
    <label>Title</label>
    <input type="text" name="title" maxlength="40" required>
    <label>Description</label>
    <input type="text" name="content" required>
    <label>Deadline</label>
    <input type="date" class="date" name="end_date">
    <div class = "submit-button">
        <input type="submit" class="default-button send submit-button" value="Add Task!">
    </div>
</div>
</form>
{% endif %}
    <!-- <script src="../static/js/progress_bar.js"></script> -->
    <script src="../static/js/buttons.js"></script> 
    <script src="../static/js/drag.js"></script>
</body>
